body{
	background-image: url("89196.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-item: center;
}

.page {
	width: 1200px;
}
	

img {
	max-width: 100%;
	height: auto;
}

.photo {
	width: fit-content;
    	margin: auto;
}

.rectangle {
	width: 1200px;
	height: 350px;
	border-radius: 10px;
	background-color: #f8f2ff;
	margin: 100px auto 0;
}

.thin-red-border {
    	border-color: #661725;
    	border-width: 3px;
    	border-style: solid;
	border-radius: 100px;
}

.name {
	
 
