body{
	background-image: url("89196.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-item: center;
}

.page {
	width: 1000px;
	align-content: space-around;
}
	

img {
	max-width: 100%;
	height: auto;
}

.photo {
	width: fit-content;
    	margin: auto;
}

.infophoto-rectangle {
	width: 1000px;
	height: 300px;
	border-radius: 10px;
	background-color: #f8f2ff;
	margin: 100px auto 0;
}

.thin-red-border {
    	border-color: #661725;
    	border-width: 3px;
    	border-style: solid;
	border-radius: 100px;
}

.education-rectangle {
	width: 800px;
	height: 300px;
	border-radius: 10px;
	background-color: #f8f2ff;
	margin: 100px auto 0;
}

.experience-rectangle {
	width: 800px;
	height: 400px;
	border-radius: 10px;
	background-color: #f8f2ff;
	margin: 100px auto 0;
}

.hobby-rectangle {
	width: 600px;
	height: 200px;
	border-radius: 10px;
	background-color: #f8f2ff;
	margin: 100px auto 0;
}
	
.links-rectangle {
	width: 700px;
	height: 200px;
	border-radius: 10px;
	background-color: #f8f2ff;
	margin: 100px auto 0;
}

	
	
 
