body{
   background-image: url("89196.jpg");
}

img {
	max-width: 100%;
	height: auto;
}

.photo {
	width: fit-content;
    	margin: auto;
}

.rectangle {
	width: 200px;
	height: 500px;
	background: #f9fbff;
}
 
